*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 3px solid black;
    border-radius: 20px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: darkgrey;
}
.screen{
    border: 3px solid black;
    border-radius: 20px;
    height: 6em;
    width: 90%;
    position: relative;
    top: 2em;
    padding: 10px 20px; 
    font-weight: bold;
    background: white;
}
.display{
    border: 3px solid black;
    border-radius: 20px;
    height: 6em;
    width: 90%;
    position: relative;
    top: 2em;
    padding: 10px 20px; 
    font-weight: bold;
    background: white;
}
.buttons{
    /* border: 3px solid grey; */
    position: absolute;
    bottom: 1em;
    height: 20em;
    width: 90%;
}
table{
    /* border: 3px solid red; */
    height: 100%;
    width: 100%;
}
button { 
    width: 95%;
    height: 50px; 
    padding: 10px; 
    background-color: grey; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
} 
button:hover{
    background: lightgrey;
}