*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calcBackground{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(TO TOP RIGHT, lightgray, pink);
}
.calculator{
    border: 3px solid black;
    border-radius: 10px;
    height: 30em;
    width: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    box-shadow: 10px 10px 10px;
    background: cyan;
}
#display{
    height: 80px;
    width: 90%;
    border-radius: 10px;
    box-shadow: inset 3px 3px 5px;
    text-align: end;
    font-size: 2em;
    background: lightgray;
}
.buttons{
    position: absolute;
    bottom: 2em;
    width: 90%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
.button { 
    width: 100%;
    height: 50px; 
    padding: 10px;
    background-color: grey; 
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
} 
button:hover{
    background: lightgrey;
}